body {
    font-family: sans-serif;
    background-color: peachpuff;
    color: maroon;
    float: right;
}

div {
    margin-top: 500px;
}

table {
    font-family: Arial;
    float: left;
}

text {
    font-family: Georgia;
}

img {
    float: left;
    width: 150px;
    height: 150px;
}