body {
    font-family: sans-serif;
    background-color: peachpuff;
    color: maroon;
}

div {
    margin-top: 500px;
}

article {
    font-family: Arial;
    float: left;
}

text {
    font-family: Georgia;
}

